body {
    background-color: rgb(53, 53, 53);
    margin: auto;
    max-width: 800px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}
.mcBook {
    margin: 0px auto 20px auto;
}
h1 {
    font-size: 3rem;
    border-bottom: 1px solid;
}
h1 > small {
    font-size: 2rem;
}
ul {
    font-size: 1.5rem;
}
a {
    color: unset;
}