.mcBook {
    font-family: 'Ifix', 'F77 Minecraft';
    font-style: normal;
    font-display: swap;
    font-size:24px;
    word-break:break-word;
    color:black;
    position: relative;
    width:342px;
    height:459px;
    padding: 45px 48px 36px 48px;
    margin-bottom: 20px;
    background-image:url("../imgs/book.png");
    white-space: pre-wrap;
    word-spacing: 4px;
    letter-spacing: normal;
    image-rendering: pixelated;
    font-smooth: never; /* non standard */
    -webkit-font-smoothing:none;
}
.mcBookHeader {
    display: block;
    text-align: right;
    margin-bottom: 18px;
    user-select: none;
}
.mcBookFooter {
    position: absolute;
    bottom: 36px;
    width: 273px;
    margin-left: 30px;
    user-select: none;
}
.mcBookNext {
    background-image:url("../imgs/next.png");
    width: 54px;
    height: 30px;
    float: right;
    display: block;
}
.mcBookNext:hover {
    background-image:url("../imgs/nexthl.png");
}
.mcBookBack {
    background-image:url("../imgs/back.png");
    width: 54px;
    height: 30px;
    float: left;
    display: block;
}
.mcBookBack:hover {
    background-image:url("../imgs/backhl.png");
}
.mcBookAuthor {
    color: #545454;
}
.mcBookCentering {
    display: block;
    text-align: center;
    user-select: none;
}

@font-face {
    font-family: 'Ifix';
    src: url('../fonts/Ifix.woff2') format('woff2'),
        url('../fonts/Ifix.woff') format('woff'),
        url('../fonts/Ifix.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'F77 Minecraft';
    src: url('../fonts/F77-Minecraft.woff2') format('woff2'),
         url('../fonts/F77-Minecraft.woff') format('woff'),
         url('../fonts/F77-Minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}