@charset "UTF-8";

/* general rules */
.mcBook {
    font-family: 'F77 Minecraft';
    font-style: normal;
    font-display: swap;
    word-break: break-word;
    color: black;
    position: relative;
    background-image:url("../imgs/book.png");
    background-size: 100%;
    white-space: pre-wrap;
    letter-spacing: normal;
    image-rendering: pixelated;
    font-smooth: never; /* non standard */
    -webkit-font-smoothing:none;
}
.mcBookHeader {
    display: block;
    text-align: right;
    user-select: none;
}
.mcBookFooter {
    position: absolute;
    user-select: none;
}
.mcBookNext {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAAAeCAYAAABnuu2GAAABtUlEQVRYw+2YTW6DMBCFUe+/SE9CVukFmguARNsdkdp12k2V/kSODQx5Nkw804DSOo30NCOU2P7mTYwhM8Zkl9amvDNTK/sHmxmsLlb9ojQ5RsxPTmg/N2GOUZJzY6+Xt4a0f38x31b7Tpoc46Yk8NXlXGqgcgR7hkXLc4ziVkzesbZv20r8NvdEjo254iJBuTiVYyHY/QRgNW0s0l3xzzs2nGzRT0ZC9+a+p+HCv96eRqVuRYJyEcG8H0/UioPu4MBeH49QXa5uxaQc42A+tg/m01bIRa1757jk5oxJ5Fh4byHhQByY9n6IeejS2LycsBDNGEXqjq2XDmTRbLc+TGV/WDURcxdJHGSoOpL7MJVKJ8C49osPKgWLSTtvuIbRVkzWMe4/htv6bltYqLKPY0LIULHTQzv2cSzKER6PXXhdvStixTkYKVhM3Ji4Bm5t6l0xKce4IxVCStwLtVPkHAz3NIAwdM3FTPIgqG3Lc8S1HxZ+sLZi+P3rc0zi3hziXOJyzyU8/YjA8q5CuV8hSf4TMKq85LEIXfK676od4yDnkARG9NZMC4bWS3KMknyql0XJOnYA2x7nvNZOBe4AAAAASUVORK5CYII=');
    background-size: 100%;
    float: right;
    display: block;
}
.mcBookNext:hover {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAAAeCAYAAABnuu2GAAABr0lEQVRYw+2Y4W2DMBCFUedok036r1FpukQ6ROkK7W7JBPCvSI3EDq4BO302PDgLaCrTSE93QsTc53exHRKlVHJtFc93KtcqjEJyjJgn/2AxgenPjZ9jlORs7NM2UaeNlo7lx4vWwcTQ/CcWewO+v6JjPtjnpeCwHKMYLHrH2ptvmy/9NfdEjvW50oAZqDrO5VgHbItgBwAYzjHmBixfjWNDs1i+tzOD7i219NsCsfDq7alXwa3ogBmoOhawl8zVip09zQE7AFgKUKkBC2zFqBxjLn1lj+qcpU0soc8l7k1xqX1m2kSWixzruGR0hgEZWOh+6Ky6MA57LhO66kx0tI4dNYQV/paq7EFrZyLmu4sYpC/7QJY7iwSMLxEFY+0nGVQKNqbQ5/o19LZitI6x3xgu69Xr/agQ0tfYsYiNifBObXA9HAxmfCrYmIbArFhtwatiVI6xI1Uo5BQxGGYAwuB10ZEqtC2ngvW1H048q42CrcIxiXtLiLnEcgcGTz8iMPMnsI44Q5Jcso/5Lh03PYWS3N5bR6f7Vu0Yg1xCEhjRW7PfALPtIsnnelkUrWPfryWNKt78M1QAAAAASUVORK5CYII=');
    background-size: 100%;
}
.mcBookBack {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAAAeCAYAAABnuu2GAAABoklEQVRYw+1X207DMAyN+P+H8SXdU/cD7AdWqcBbkOB58DIxLtrqMMNZErdOl4rSMunIVtXFPjmu4xhblQfCQ7UKbF80P/PbMJMlhgmFxJBgGbFxf1SKET53T1mwXl5/YxSKZSNWLL6INfZfsbEqNrRKqc3JYHPIpZIx5sotfrK5iNl+xCar2Dmx95f7w9vznbPo4zt2czomNqvByVC8j93jT3UU7d+wWIpMhCz6+A4GxvLLVYpYfj6xGz2xmSi23946MmTRZwW16uVSyY/Lz1k5sirFcCEJErFg94Bgl6/JR9ON56CYT6xuFqmdRZ9sDBJJTFTjn5OpO8HvkkWSLdLXSWgjloLUHIKmwmU5A8VKsZXjVIEJ77dVFP5UwsE1Pv3/FdaK+bgRyV0Rn6PEfYilQFoTIeWm6op/XrH1kpJeuJOcibid8IZa3o1U9TSJppJRjVRSotJlsQ+xHFCVH/qTVUxSQzMlSCSHgJ+bP90EigWJFt3EeAH8cC2cRzZyTuUgxvE0I9s8FLsEGHgISLeBrMRiAbAs0Ud7iZ96Q5+sYkcXQV9PN25r+QAAAABJRU5ErkJggg==');
    background-size: 100%;
    float: left;
    display: block;
}
.mcBookBack:hover {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAAAeCAYAAABnuu2GAAABrklEQVRYw+2YYVKDMBCFM57D4k38Z0fFS9RD2F6h3q2eIP1nZ3SGO1BiCDwgDzYCU0ztzJvd0kL2y8ssBHV8uc2tVvkxbUadrux3yDGyvPioS0tFDFYXXwGWUcNv2hNZvgww405qXTvtN/np/bWOv9THnaq0CMc6RSJgG9pEki8D7N+xfsfmhrFNzdYpAnMdTTuwoSUncEkpdfNz8TJOBaZDwKJ1jIFlu+c82z7ZCDnC4H1vbhgz5ieujqR/EulSrKBMhBzhcVJw+U21FHH5WbCNuDldn2Nf28f8u4AxEXMTnSTuTeWSHb8ed8g96hgCMDGwzuwB4FAuqUfSjeN1jDePh0LrMmK+9opBsl0Cy7FoNhbK/dfEhnu0eQguKgULUWgNnabiwKJ1jIFhK8cTsODs7d6r9hOMG1ySs2uicCKCuyIeHwsWIimYrzZRV/zzjh2KA074vqN9gpuNUMipJIFpgLFC2cmXBBtcfphH6xhzQ/KUwCDnEJto6lij0KR8ak76wXzusXeMofcxlpsxDol8h34djo0RDjyH2G5gUjDfAH1FuSU0Jg/doUfr2BkSoQRZlkglbAAAAABJRU5ErkJggg==');
    background-size: 100%;
}
.mcBookAuthor {
    color: #545454;
}
.mcBookCentering {
    display: block;
    text-align: center;
    user-select: none;
}

@font-face {
    font-family: 'F77 Minecraft';
    src: url('../fonts/F77-Minecraft.woff2') format('woff2'),
         url('../fonts/F77-Minecraft.woff') format('woff'),
         url('../fonts/F77-Minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* base size rules */
.mcBook {
    font-size: 24px;
    line-height: 27px;
    width: 342px;
    height: 459px;
    padding: 45px 48px 36px 48px;
    margin: 0px 0px 20px 0px;
    word-spacing: 3px;
}
.mcBookHeader {
    margin-bottom: 18px;
}
.mcBookFooter {
    bottom: 36px;
    width: 273px;
    margin-left: 30px;
}
.mcBookNext {
    width: 54px;
    height: 30px;
}
.mcBookBack {
    width: 54px;
    height: 30px;
}

/* small screen rules */
@media (max-width: 437px) {
    .mcBook {
        font-size: 16px;
        line-height: 18px;
        width: 228px;
        height: 306px;
        padding: 30px 32px 24px 32px;
        margin: 0px 0px 1em 0px;
        word-spacing: 2px;
    }
    .mcBookHeader {
        margin-bottom: 12px;
    }
    .mcBookFooter {
        bottom: 24px;
        width: 182px;
        margin-left: 20px;
    }
    .mcBookNext {
        width: 36px;
        height: 20px;
    }
    .mcBookBack {
        width: 36px;
        height: 20px;
    }
}